<div class="blog-container">
<%= simple_form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :slug %>
  <%= f.input :email %>
  <%= f.input :website %>
  <%= f.input :blog %>
  <%= f.input :facebook %>
  <%= f.input :twitter %>
  <%= f.input :pineterest %>
  <%= f.input :description %>
  <%= f.file_field :image %>
  <br />
  <%= f.button :submit %>
<% end %>
</div>