<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @vendor.slug %>
</p>

<p>
  <b>Email:</b>
  <%= @vendor.email %>
</p>

<p>
  <b>Website:</b>
  <%= @vendor.website %>
</p>

<p>
  <b>Blog:</b>
  <%= @vendor.blog %>
</p>

<p>
  <b>Facebook:</b>
  <%= @vendor.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @vendor.twitter %>
</p>

<p>
  <b>Pineterest:</b>
  <%= @vendor.pineterest %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
